.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    font-size: 48px;
    padding: 32px;
    border: 8px solid black;
  }

  .subTitle {
    text-align: center;
    font-size: 32px;
    padding: 32px 0;
  }

  .levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn {
      padding: 12px 0;
    }
  }

  .author {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
